body {
    overflow-x: hidden;
}

#hitcount {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    left: 8px;
    bottom: 0px;
    filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.5));
}

#projectselection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;

}

#projectselection a {
    margin: 4px;
}