  font-face{
    font-family: 'aracne';
    src: url(assets\fonts\ARACNE-CONDENSED_regular.ttf) format('truetype');
  }

  @font-face {
    font-family: "Pixel";
    src: url('assets/fonts/PIXEARG_.TTF');
  }

p{
    color: white;
    font-family: 'Pixel';
}

h1{
    color: white;
}