#titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFCFD;
    background-image: url(/assets/images/leafground.jpg);
    background-size: 10vw;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    border-bottom: 1px #A0AFC3 solid;
    width: 100vw;
    height: 5vh;
    z-index: 0;
}

#titlebar img {
    height: 100%;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
}

#navigatron {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 100%;
    width: 50%;
    z-index: 0;
}

.selectedtravelbutton {
    color: #1E395B;
    height: 100%;
    width: 20%;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(146, 146, 146);
    background: linear-gradient(rgba(192, 230, 255, 0.7), rgba(157, 216, 255, 0.9));
    border-bottom: 0px;
    z-index: 0;
    font-size: 1vw;
    backdrop-filter: blur(3px);
}

.travelbutton {
    color: #1E395B;
    height: 100%;
    width: 20%;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(146, 146, 146);
    background: linear-gradient(rgba(192, 230, 255, 0.6), rgba(157, 216, 255, 0.8));
    border-bottom: 0px;
    z-index: 0;
    animation: buttonHide 0.3s ease 0s 1 normal none;
    font-size: 1vw;
    text-shadow: 0px 0px 4px rgba(255,255,255,1);
    backdrop-filter: blur(3px);
}

.travelbutton:hover {
        height: 100%;
}

#navbtn1:hover {
    filter: hue-rotate(150deg);
   
}

#navbtn2:hover {
    filter: hue-rotate(200deg);
}

#navbtn3:hover {
    filter: hue-rotate(250deg);
}

#navbtn4:hover {
    filter: hue-rotate(340deg);
}

#navbtn5:hover {
    filter: hue-rotate(0deg);
}

#navbtn6:hover {
    filter: hue-rotate(50deg);
}

#navbtn7:hover {
    filter: hue-rotate(100deg);
}
