body {
    background-color: rgb(167, 202, 238);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    background-color: black;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 98.8vw;
    height: 90vh;
    margin: 0.5%;
    background-color: #43abff;
    background-image: url(/assets/images/cloudsvibrant.jpg);
    z-index: 1;
    overflow-y: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.content-box {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    overflow-y: auto;
}

.heading {
    text-align: center;
}

.foxemoji {
    width: 32px;
}

.windowpanel {
    background-color: white;
    padding: 1%;
    border: #8e8f8f 1px solid;
}

.category {
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.gallery img {
    width: 40%;
    height: 100%;
    margin-bottom: 1%;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
    transition: all 0.1s;
}

.image img:hover {
    transform: scale(1.1);
    transition: all 0.1s;
}

.spoiler {
    filter: invert(0.3) blur(32px) hue-rotate(120deg);
    transition: all 0.1s;
}

.spoiler:hover {
    filter: invert(0) blur(0) hue-rotate(0deg);
    transition: all 0.1s;
}