:root {
    --hue: 0deg;
    --color: rgba(0, 0, 0, 0.3);
}

html, body{
    height: 100%;
    background: linear-gradient(#154254, #307C99);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contentbox {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    padding: 1%;
    height: 100%;
}

a {
    color: rgba(255, 255, 255, 0);
}

.category {
    border-bottom: 2px solid rgba(255, 255, 255, 0.21);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
    width: 92%;
}

#optiontray {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    border-right: 2px solid rgba(255, 255, 255, 0.21);
}

#extratray {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:end;
    align-items: left;
    flex-direction: column;
}

#optionbar {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:end;
    align-items: center;
    flex-direction: column;
}

#download {
    display: flex;
    justify-content:start;
    align-items: left;
    flex-direction: row;
}

#interactionfield {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 1%;
}

#notificationcontainer {
    display: none;
    width: 100%;
    height: 100%;
}

#notificationbg {
    display: flex; 
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: var(--color);
    animation: darkenbg 0.3s ease 0s 1;
}


#notification {
    display: none;
    position:absolute;
    flex-direction: column;
    background: rgba(95, 178, 204, 0.3);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(133, 133, 133, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1%;
    justify-content: start;
    align-items: center;
    width: 40%;
    height: 55%;
    top:50%;
    left:50%;
    transform-origin:0% 0%;
    animation: notification 0.2s ease 0s 1 normal forwards;
}

.notifbutton {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    justify-content: center;
    width: 30%;
    height: 50px;
    padding-right: 2%;
    color: white;
    font-size: 16px;
    animation: enlargein 0.02s linear 0s 1 normal forwards;
}

.notifbutton:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(133, 133, 133, 0.4);
    border-radius: 8px;
    justify-content: center;
    width: 30%;
    height: 50px;
    padding-right: 2%;
    color: white;
    font-size: 16px;
    animation: enlargeout 0.02s linear 0s 1 normal forwards;
}


.hspacer {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

button {
    display: flex;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    width: 94%;
    height: 48px;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 16px;
}

button:hover {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    width: 94%;
    height: 48px;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 16px;

}

.selected {
    display: flex;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    width: 94%;
    height: 48px;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 16px;
}

#headerlogo {
    display: flex;
    width: 100%;
    height: 12%;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    padding: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #5FB2CC
}

#orca {
    padding: 0px;
}

@keyframes notification {
	0% {
		opacity: 0;
		transform: scale(1.05) translate(-50%, -50%);
        filter: brightness(2.5) hue-rotate(var(--hue));
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%);
        filter: brightness(1) hue-rotate(var(--hue));
	}
}

@keyframes darkenbg {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes enlargeout {
	0% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes enlargein {
	0% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1.0);
	}
}

@keyframes enlargeoutsmall {
	0% {
		transform: scale(1.025);
	}

	100% {
		transform: scale(1.05);
	}
}

@keyframes enlargeinsmall {
	0% {
		transform: scale(1.025);
	}

	100% {
		transform: scale(1.0);
	}
}