body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/assets/images/bluespace.gif);
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 92vw;
    height: 100px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.item img {
    width: 20%;
    border-radius: 8px;
    border: 1px solid rgba(194, 194, 255, 0.5);
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: blue;
}

h3 {
    color: blue;
    filter: drop-shadow(0px 0px 8px rgb(170, 170, 255));
    font-size: 1.4em;
}