body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(images/natfl378.jpg);
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 92vw;
    height: 180px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(155, 155, 155);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
    border-radius: 4px;
    margin: 3px;
    padding-left: 8px;
    padding-right: 6px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 92vw;
    height: 128px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(0, 140, 255);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
    border-radius: 4px;
    margin: 3px;
    padding-left: 8px;
    padding-right: 6px;
}

.item img {
    height: 90%;
    border-radius: 8px;
    border: 1px solid rgba(194, 194, 255, 0.5);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

h3 {
    color: rgb(0, 140, 255);
    filter: drop-shadow(2px 2px 0px rgb(201, 233, 255));
    font-size: 1.4em;
}