@font-face {
    src: url(aracne.otf);
    font-family: "crazy";
}

body {
    background-color: black;
    background-image: url(adminbg.png);
    background-size: 100%;
    font-family:"crazy";
}

p {
    color: white;
    font-size: 200%;
}

h1 {
    color: white;
    font-size: 400%;
}

.page-content {
    background: linear-gradient(to bottom, #74b9e7 0%, #6b91e279 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 1%;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.settings-content {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 32px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    max-width: 30%;
    margin: 5%;
    flex-wrap:wrap;
}

button {
    border: 4px solid rgb(0, 183, 255);
    border-radius: 32px;
    background-color: rgb(0, 183, 255);
    font-size: 150%;
    color: white;
    justify-content: center;
}

button:hover{
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font-size: 150%;
    color: rgb(19, 188, 255);
    animation: popout 0.2s forwards;
}

@keyframes popout {
    0% { scale: 1.05; }
    100% { scale: 1.1; }
}

@keyframes popin {
    0% { scale: 1.1; }
    100% { scale: 1.0; }
}


#login-feedback {
    color: lightgreen;
    font-size: small;
    opacity: 0.0;

    /* animation-name: flash; */
    animation-duration: 2s;
}