body {
    pad: 0;
    margin: 0;
    background-image: url(/Resources/wiitile.jpg);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#canvas {
    border: 7px rgb(189, 189, 189) outset;
    background-color: rgb(245, 245, 245);
}