html, body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#title {
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
}

input {
    border-radius: 4px;
    border-width: 1px;
}

button {
    margin: 1%;
    height: 3vh;
}

#maker {
    border-collapse: collapse;
    width: 48vw;
    height: 48vw;
    table-layout: fixed;
    animation: fadein 0.5s 0s ease forwards normal;
    margin: 0.5vw;
}

.row {
    border: 0px solid black;
}

.cell {
    position: relative;
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    border: 1px solid rgb(180, 180, 180);
    text-align: center;
    vertical-align: middle;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    cursor: pointer;
}

.filled {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.block {
    border: 2px solid rgb(0, 0, 0);
    background-color: black !important;
}

.cell p {
    margin: 0;
    padding: 0;
    
}

.cell-div {
    width: 100%;
    height: 100%;
}

.selected {
    animation: pop 0.15s 0s ease forwards normal;
    outline: 1px solid blue;
    background-size: contain;
    z-index: 100;
}

#workspace {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#properties {
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    display: flex;
    flex: 1;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(100%);
    border-radius: 16px;
    animation: fadeinleft 0.5s 0.3s ease forwards normal;
}

#properties-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

#crossword-settings {
    margin: 0.5vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100%;
    transform: translateX(-100%);
    border-radius: 16px;
    animation: fadeinright 0.5s 0.3s ease forwards normal;
}

.option {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2%;
    padding: 2%;
    width: 90%;
    border-radius: 8px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.option-button {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 5%;
    margin: 2%;
    padding: 2%;
}

#create {
    width: 100%;
    height: 100%;
    color: white;
    background: #7387fa;
    background: linear-gradient(180deg,rgba(115, 135, 250, 1) 0%, rgba(47, 73, 222, 1) 100%);
    border-radius: 4px;
    border-width: 0px 0px 2px 0px;
    border-color: #2036B3;
}

#create:active {
    width: 100%;
    height: 100%;
    color: white;
    background: #7387fa;
    background: linear-gradient(180deg,rgb(133, 150, 247) 0%, rgbargb(70, 92, 219) 100%);
    border-radius: 4px;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
}

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.25vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.identifier-left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
}

.identifier-right {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
}

.info {
    font-size: 1em;
    color: gray;
}

#word-list {
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
}

.word {
    position: relative;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 2%;
    cursor: pointer;
    user-select: none;
    margin: 1%;
}

.word-hint {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2%;
    padding: 2%;
    width: 90%;
    user-select: none;
}

.word:hover {
    border: 1px solid rgb(1, 5, 255);
}

.word:active {
    transform: scale(0.975);
}

.word-hint p {
    margin: 0;
}

#hint-left, #hint-right {
    font-size: 0.75vw;
    resize: none;
    width: 98%;
}

#export {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

@media print {
    @page { size: auto; margin: 10mm; }

    body, #export {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #crossword-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 15mm;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #crossword {
        border-collapse: collapse;
        table-layout: fixed;
        width: 130mm;
        height: 130mm;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10mm;
        border: 0px solid black;
    }

    #crossword td {
        width: 8mm;
        height: 8mm;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border: none;
    }

    #crossword td p {
        margin: 0;
        padding: 0;
        position: absolute;
        font-size: 3mm;
        line-height: 1;
    }

    #crossword td .character {
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #crossword td .identifier-left {
        top: 0;
        left: 0;
        font-size: 2mm;
    }

    #crossword td .identifier-right {
        top: 0;
        right: 0;
        font-size: 2mm;
    }

    #crossword td.open {
        border: 1px solid black;
    }

    #crossword td.block {
        border: 1px solid black;
        background-color: black;
        print-color-adjust: exact;
        /* print-color-adjust: exact is needed by cause the browser ignores background-color by default for printing to save on ink. */
    }

    #hints {
        margin-top: 5mm;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #down, #across {
        padding: 2%;
        width: 100%;
    }

    #down-hints p, #across-hints p {
        word-break: break-all;
        break-inside: avoid;
        padding: 0;
        margin: 3mm;
    }

    #down h3, #across h3 {
        break-after: avoid;
        margin: 0 0 2mm;
    }

    #down-hints, #across-hints {
        display: block;
        height: 100%;
        columns: 2;
    }

    .hint { 
    }
}


@keyframes fadein {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeinleft {
    0% {
        transform: scale(1) translateX(100%);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeinright {
    0% {
        transform: scale(1) translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
