body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    background-image: url(assets/spacebg.gif);
}

#orbital-text {
    height: 550px;
    width: 550px;
    position: relative;
    animation: counterclockwise 12s linear infinite;
    z-index: 1;
}

span {
    position: absolute;
    left: 50%;
    transform-origin: 0 275px;
    transform-style: flat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    color: white;
    filter: drop-shadow(2px 2px 2px black);
}

#jagged-circle {
    position: absolute;
    width: 630px;
    animation: clockwise 32s linear infinite;  
    z-index: 0;
    transition: all 0.3s;
}

#rotating-earth {
    width: 610px;
    rotate: 23deg;
}

a:hover + #jagged-circle {
    filter: drop-shadow(0px 0px 32px #ff851f);
    transition: all 0.3s;
    width: 680px;
}

a:hover {

}

a {
    position: absolute;
    z-index: 2;
}

@keyframes counterclockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}