body {
    background-color: beige;
}

canvas {
    background-color: rgb(237, 190, 255);
    background-image: url(assets/map.png);
    border-style: solid;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}