body {
    background-color: rgb(167, 202, 238);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100vw;
    height: 95vh;
    margin: 0%;
    background-color: #83c7ff;
    background-image: url(/assets/images/lovelyfloral.gif);
    z-index: -1;
    overflow-y: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.content-box {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
}

.heading {
    text-align: center;
}

.foxemoji {
    width: 32px;
}

.windowpanel {
    background-color: white;
    background-image: url(/assets/images/dottedchecker.png);
    padding: 1%;
    border: #8e8f8f 1px solid;
}