@font-face {
    font-family: eigerdals;
    src: url(../fonts/Eigerdals\ Heavy.OTF);
}

#pause_button {
    animation: bouncein 0.6s ease-in-out 0s normal forwards;
}

#input_capture {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100vw;
    height: 100vh;
}

#fade {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    animation: fade 2s linear 0s normal forwards;
}

.pausebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: eigerdals;
    margin: 1%;
    transition: all 0.05s ease-out;
}

.pausebutton div {
    position: absolute;
    background-image: url(../images/button_option.svg);
    background-size: 100% 100%;
    width: 25vw;
    height: 10vh;
}

.pausebutton p {
    color: white;
    position: absolute;
    font-size: 2vw;
}

.pausebutton:hover {
    transform: scale(1.1);
    transition: all 0.05s ease-out;
}

.pause {
    animation: pause 0.15s linear 0s normal forwards;
}

.unpause {
    animation: unpause 0.15s linear 0s normal forwards;
    pointer-events: none;
}

@keyframes pause {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(20px);
    }
}

@keyframes unpause {
    0% {
        opacity: 1;
        backdrop-filter: blur(20px);
    }
    100% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bouncein {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(0);
    opacity: 1;
  }
  20% {
    transform: translate(0px, 0px) rotate(0deg) scale(1.4);
    opacity: 1;
  }
  40% {
    transform: translate(0px, 0px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  60% {
    transform: translate(0px, 0px) rotate(0deg) scale(1.05);
    opacity: 1;
  }
  80% {
    transform: translate(0px, 0px) rotate(0deg) scale(0.975);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
    opacity: 1;
  }
}

