@font-face {
    font-family: "Determination";
    src: url(/./Resources/Fonts/DTM-Mono.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "Determination";
    margin: 0;
    padding: 0
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

button {
    font-family: "Determination";
    font-size: 40px;
    padding: 16px;
    color: white;
    border: 6px white solid;
    background-color: black;
}

button:hover {
    font-family: "Determination";
    font-size: 40px;
    padding: 16px;
    color: white;
    border: 6px white solid;
    background-color: black;
    cursor:pointer;
}